main {
  padding: 20px;
  font-size: 1.5rem;
}

h1 {
  color: #333;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 0 auto;
  justify-content: center;
  grid-gap: 20px;
  align-items: center;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
  width: 10rem;
  height: 10rem;
  justify-self: center;
  border-radius: 50%;
}

#menu {
  background: #333;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

#menu:hover {
  background: #555;
}
