.h1-nueva-orden {
  color: #333;
}

.section-snacks-name {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  margin: 0 auto;
  justify-content: center;
  grid-gap: 20px;
  align-items: center;
  text-align: center;
}

.div-snack {
  font-size: clamp(1rem, 2rem, 5rem);
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-color: aqua;
  width: 7rem;
  height: 7rem;
  justify-self: center;
  border-radius: 50%;
}
