* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

img {
  height: 10vh;
  background-color: #aaa;
  width: 250px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0.7rem;
  background-color: #faa;
}

section {
  display: grid;
  gap: 20px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.btnMenu {
  background-color: #5f5fa9;
  width: clamp(15rem, 80%, 25rem);
  height: clamp(3rem, 8vh, 5rem);
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.btnMenu:hover {
  background-color: #0a7;
  cursor: pointer;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
