* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

main,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffa;
}

.container {
  height: 100vh;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  gap: 20px;
}

.btnMenu {
  background-color: #0aa;
  width: clamp(20rem, 25rem, 30rem);
  height: clamp(4rem, 5rem, 6rem);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btnMenu:hover {
  background-color: #0a7;
  cursor: pointer;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
