<ul class="product-addons">
  @for (addon of addons(); track addon.addonId) {
    <li>
      <button
        type="button"
        class="product-addons__item"
        [class.product-addons__item--selected]="isSelected(addon)"
        (click)="toggled.emit(addon)"
      >
        <span class="product-addons__name">{{ addon.addonName }}</span>
        <span class="product-addons__price">{{ addon.addonPrice | currency }}</span>
      </button>
    </li>
  }

  @if (addons().length === 0) {
    <li class="product-addons__empty">Este producto no tiene extras disponibles</li>
  }
</ul>
