button {
  background: #333;
  color: white;
  font-size: clamp(0.9rem, 2rem, 4rem);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  background: #555;
}
